/* Pages */

#page-home,
#page-note {
  display: flex;
  flex-direction: column;
}

#page-home {
  overflow-y: auto;
  user-select: none;
}

#page-note {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Layers */

#modal {
  z-index: 20;
}

#overlay {
  z-index: 10;
}

#panel, .notification {
  z-index: 8;
}

#toolbar {
  z-index: 5;
}

#content {
  z-index: 3;
}

#drag {
  z-index: 2;
}

#sidebar {
  z-index: 1;
}

/* Transitions */

#page-note { transition: left .25s; }
#page-note.resizing { transition: none; }
#sidebar, #toolbar { transition: transform .25s; }

/* Generic styles */

a {
  text-decoration: none;
  font-weight: bold;
}

.bold { font-weight: bold; }
.underline { text-decoration: underline; }
.italic { font-style: italic; }
.line-through { text-decoration: line-through; }

.hide {
  display: none !important;
}

hr {
  height: 1px;
  border: none;
  background: darkgray;
}

/* Notifications */

.notification { font-weight: bold; padding: 1em; }
.notification a:hover { text-decoration: underline; }

/* Home */

#existing-notes {
  padding: 1em;
}

.note-tile {
  display: inline-block;
  box-sizing: border-box;
  width: 48%;
  border-width: 1px;
  border-style: solid;
  border-radius: 3px;
  cursor: pointer;
  margin: 0 2% 2% 0;
  padding: .5em;
}

.note-tile .row {
  display: flex;
  justify-content: space-between;
}

.note-tile .note-name {
  padding-right: 1em;
  flex-grow: 1;
}

.note-tile .note-content {
  height: 78px;
  height: 15em;
  overflow: hidden;
  font-size: 30%;
  pointer-events: none;
}

.note-name {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: bold;
  cursor: pointer;
}

/* Bottom */

#bottom {
  padding: 1em;
}

.bottom {
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  text-align: right;
}

.bottom > a, .bottom > div { margin-left: auto; }
.bottom a:hover { text-decoration: underline; }

#sync-details { font-size: 50%; color: #7b7c7d; }
#sync-details > div { margin-top: 1em; }

/* Sidebar */

#sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  min-width: 4em;
  max-width: 50% !important;
  width: 25%;
  box-sizing: border-box;
  user-select: none;
  overflow: hidden;
  transform: translateX(-100%);
}

body.with-sidebar #sidebar { transform: translateX(0); }
body.with-sidebar #page-note { left: 25%; }
body:not(.with-sidebar) #page-note { left: 0 !important; }

#sidebar-notes {
  padding: 1em;
  margin-right: 4px;
  overflow-y: auto;
  flex-grow: 1;
}

#sidebar .note {
  cursor: pointer;
  font-weight: bold;
}

#sidebar .note.active {
  text-decoration: underline;
}

#sidebar-buttons {
  padding: .5em 1em;
}

#drag {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: col-resize;
  border-right-width: 4px;
  border-right-style: double;
}

body.resizing-sidebar { cursor: col-resize; }
body.resizing-sidebar-locked { cursor: w-resize; }

#sidebar .action {
  display: inline-block;
  cursor: pointer;
  height: .8em;
}

/* Note */

#panel {
  padding: 1em 1em 0 1em;
  user-select: none;
  display: flex;
}

#sidebar-toggle {
  cursor: pointer;
  height: .6em;
}

#note-name {
  margin-left: .5em;
  text-decoration: underline;
}

#note-options {
  margin-left: auto;
}

#content, .note-tile .note-content {
  white-space: break-spaces;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

#content {
  width: 100%;
  height: 100%;
  border: 0;
  outline: none;
  resize: none;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  padding: 1em;
  overflow-y: auto;
}

#content ul, #content ol {
  list-style-position: inside;
  margin: 0;
}

/* Note Options & Dropdown */

.note-options {
  position: relative;
}

.dropdown-toggle {
  cursor: pointer;
  height: .8em;
}

.note-options .dropdown {
  display: none;
  position: absolute;
  border-radius: 2px;
  font-size: .8em;
  font-weight: bold;
  transform: translateX(calc(-50% - .8em));
}

.note-options .dropdown.open {
  display: block;
}

.note-options .dropdown .action {
  cursor: pointer;
  margin: .8em;
}

.note-options .dropdown .action:hover {
  text-decoration: underline;
}

/* Toolbar */

#toolbar {
  display: flex;
  flex-wrap: wrap;
  padding: .5em 1em;
  user-select: none;
  position: fixed;
  bottom: 0;
  box-sizing: border-box;
  transform: translateY(100%);
}

body.with-toolbar #toolbar { transform: translateY(0); }
body.with-toolbar #content { padding-bottom: 3em; }

#toolbar .control {
  font-size: .8em;
  margin: .3em .5em 0 0;
  padding: .2em;
  border-radius: 2px;
  cursor: pointer;
}

#toolbar .control:first-child { margin-left: -.2em; }

#toolbar .control > svg { height: .7em; }

#toolbar .control .two { font-size: .9em; font-weight: bold; }
#toolbar .control .three { font-size: .7em; font-weight: bold; }

#toolbar #S { margin-right: 2.5em; }

/* Overlay */

#overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -4px;
  right: 0;
  pointer-events: none;
}

.to-rename { background: rgba(26,115,232,.4); }
.to-rename.note-tile { border-color: #1a73e8 !important; }

.to-delete { background: rgba(255,0,0,.6); }
.to-delete.note-tile { border-color: transparent !important; }

/* Modal */

#modal {
  position: fixed;
  padding: .5em;
  border-radius: 5px;
  min-width: 30%;
  box-sizing: border-box;
}

#page-note #modal {
  position: absolute;
}

#modal input {
  box-sizing: border-box;
  outline: none;
  border: none;
  border-radius: 3px;
  padding: .4em;
  font-family: inherit;
  font-size: .8em;
}

#modal #input {
  width: 100%;
  background: white;
}

#modal #buttons {
  text-align: right;
  margin-top: 1em;
}

#modal #buttons input {
  cursor: pointer;
}

body.with-overlay #modal {
  border: none !important;
}

/* Modal position */

#modal.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - .5em));
}

#modal.top {
  top: 0;
  left: 50%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-top-style: none !important;
  transform: translate(-50%, 0);
}

/* Focus */

body.focus #panel,
body.focus #toolbar {
  display: none;
}

/* Media Queries */

@media (max-width: 800px) {
  .note-tile {
    width: 100%;
    margin: 0 0 2% 0;
  }
}

@media (max-width: 600px) {
  .note-tile .note-content {
    display: none;
  }
}
